
h4{
    font-weight: 400 !important;
}

.bg-custom{
    /* background-color: #F4EFEA; */
    background-color: #007bff;
}

.navbar-brand{

    /* color: #FF1E27 !important; */
    color: white !important;
    
}

nav{
    padding-top:0 !important;
    padding-bottom:0 !important;
    font-weight: 600 !important;
}

.nav-link{
    color: white !important; 
    font-size: 1.25rem;
}
.nav-link:hover, .active-page{
    color: #7FFFD4 !important;
}

body{
    font-family: 'Montserrat', sans-serif !important;
}

.container-fluid{
    padding: 0.5%;
}

.container-fluid.con-2{
    padding:2%;
}
.container-fluid.feature-box{
    /* padding:0% 35% !important; */
    background-color: #f5f5f5;
}
.container-fluid



.my-pic{
    height:6rem;
}

.par{
    background-color: #F0F8FF;
    padding: 15px 0px 15px 20px;
    border-radius: 12px;
}

.par.par-2{
    width: 20rem;
}

.par-1, .par-3{
    width: 24rem; 
    margin-top:1rem;
}

.fa{
    font-size:2.5rem !important;
}
.row{
    margin: 0 !important;
}
.row.icons{
    margin:12px 0px;
}

#copy{
    margin:12px 0px;
    text-align: center;
    color: gray; 
    padding-bottom:12px; 
    margin-bottom:0px;
}

#contact{
    text-align: center; 
    padding-top:8px;
}